.App {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 4px;
}

.dropdown {
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: auto;
  position: absolute;
  width: 400px;
}

.column-reverse {
  flex-direction: column-reverse;
}

.dropdown-input {
  flex: 0 0 auto;
  height: 28px;
  width: 100%;
}

.dropdown-list {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  width: 100%;
}
